{%extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="http://127.0.0.1:5000/static/css/main.css">
<title> Welcome! </title>
{% endblock %}

{% block content %}

<br/>
<div style = "text-align:center">
    
    <h1> Complaint reported! </h1>
    <p> Thanks you for making a report about your unsatisfaction. Our admin will review and consider action in accordance. </p>
    <div style = "row">
        <a href = "/accomodation"><button class="btn btn-primary">Back</button></a>
        
    </div>

</div>

{% endblock %}