{%extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="../../static/css/main.css">
<title> Welcome! </title>
{% endblock %}

{% block content %}

<br/><br/>

<div class="container" style = "width:70%;">
    <h1 style = "text-align: center"> Object I bought </h1>
    
    <br/>
    {% if not mySoldObject %}
    <div class="col-12" style = "background-color: rgba(255, 255, 255, 0.5);">
        <br/>
        <h1 style = "text-align:center;"> No notification </h1>
        <br/>
    </div>
    {% endif %}
    
    <! -- Other People Waiting Booking -->
    {% if mySoldObject %}
    <div class="col-12" style = "background-color: rgba(255, 255, 255, 0.5);">
        <br/>
        {% for object in mySoldObject %}
        {% if loop.index%2 == 0 %}
        <div class="row color1" style="min-height:250px">
        {% else %}
        <div class="row color2" style="min-height:250px">
        {% endif %}
            <div class = "col"></div>
            <div class="col-4">
                <img src = "{{object[9]}}" style = "width:250px; height:200px;margin-top:25px;">
            </div>
            <div class = "col"></div>
            <div class="col-6" style="margin-top:20px;">
                <p> <strong> Owner: </strong> <a href = "/{{object[10]}}"> {{object[10]}} </a></p>
                <p> <strong> Starting Date: </strong> {{object[4]}} </p>
                <p> <strong> Ending Date: </strong> {{object[5]}} </p>
                <p> <strong> Price: </strong> ${{object[6]}} </p>
                <div class="col-md-8" style = "text-align: center">
                    <a href = "/accomodation/{{object[1]}}"><button class="btn btn-primary">Info</button></a>
                    <a href = "/{{username}}/{{object[0]}}/cancel"> <button class="btn btn-danger"> Cancel Booking</button></a>
                    <br><br>
                </div>
            </div>
        </div>
        <hr/>
        {% endfor %}
        <br>
    </div>
    {% endif %}
        
    <br/><br/><br/>
    
</div>

{% endblock %}
